<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-40">
        <h2>Pub Game is ready to play!<br />Get people around you & Enjoy.</h2>
        <hr>
        <h3>Our app is created for you to mingle with people in a faster and funnier way.</h3>
        <p class="mt-40">Download the game from ios store or google play store and start playing without registering yourself. Everybody is with nicknames. Find people who are playing the game in the very room and match with them. So that you can easily mingle and drink with them. We pormise you will get to know everyone after the game!</p>
        <div class="mt-40">
          <a class="btn btn-lg btn-trans p-0">
            <%= image_tag asset_url('home/apple_store.png'), alt: "apple store", class: 'store_icon' %>
          </a>
          <a class="btn btn-lg btn-trans p-0">
            <%= image_tag asset_url('home/google_store.png'), alt: "google store", class: 'store_icon' %>
          </a>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag asset_url('home/gamess.png'), alt: "pub games", width: "300" %>
      </div>
    </div>
  </div>
</div>

<div class="container my-40">
  <div class="row text-center">
    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/gamemix.jpg'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>GAME MIX</h4>
      <p>You will find a lot of games which are common drinking games in many countries. You randomly end up having small drinking game session with your partner.</p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/flappybird.jpg'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>COMPETITIONS</h4>
      <p>Have a small competition with your partner. Whoever loses has to drink! We made those games for you to break the ice.</p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/challenge.jpg'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>CHALLENGES</h4>
      <p>Some challenges will pop up. If you don't dare you have to drink. These challenges will make you more active!</p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/quizesss.png'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>QUIZESSS</h4>
      <p>We have random quizes about your partner to figure out if you got to know your partner as much as possible.</p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/sayko.jpg'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>PSYCHO</h4>
      <p>GO PSYCHO! Your partner is answering questions according to the rule. You ask questions as much as you can to figure out the rule.</p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag asset_url('home/story.jpg'), alt: "game mix", class: "mb-4 feature-image" %>
      <h4>YOUR GAME</h4>
      <p>You can tell us to include any game you want. If we think it's useful to mingle, we'll have it within a week! Contact us here or from the app.</p>
    </div>
  </div>
</div>

<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag asset_url('home/gamess.png'), alt: "pub games", width: "300", class: 'img-responsive' %>
      </div>
      <div class="col-md-6 mt-40">
        <h2>Discover How Wonderful Is<br />Our Game In Your Hands.</h2>
        <hr>
        <h3>We constantly improve our game for you to have best experience with your (new)friends.</h3>
        <p class="mt-40">We give a lot of thoughts about how you can get to know people better and have a lot of fun with the person you just met or you've already known.</p>
        <p>We include games as much as possible so that you don't get bored and have some dynamic conversations with your partner.</p>
        <div class="mt-40">
          <a class="btn btn-lg btn-trans p-0">
            <%= image_tag asset_url('home/apple_store.png'), alt: "apple store", class: 'store_icon' %>
          </a>
          <a class="btn btn-lg btn-trans p-0">
            <%= image_tag asset_url('home/google_store.png'), alt: "google store", class: 'store_icon' %>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 testimonials">
      <h2>What Our Gamers Think About Us</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item p-3 border border-light rounded">
            <%= image_tag asset_url('home/user_1.png'), alt: "First User", width: "120", class: 'rounded-circle mx-auto' %>
            <h3>Miguel Santos</h3>
            <p>It is a decent game. It has a lot of interactions which make you really active during the game. I really enjoyed it.</p>
          </div>
          <div class="item p-3 my-4 border border-light rounded">
            <%= image_tag asset_url('home/user_2.png'), alt: "Second User", width: "120", class: 'rounded-circle mx-auto' %>
            <h3>Andrea Visitada</h3>
            <p>We had nothing to do that day. We downloaded and played it all night long. Now we constantly get together to play this game.</p>
          </div>
          <div class="item p-3 border border-light rounded">
            <%= image_tag asset_url('home/user_3.png'), alt: "Third User", width: "120", class: 'rounded-circle mx-auto' %>
            <h3>Carlo Brambilla</h3>
            <p>You are doing a night out. But you don't seem to enjoy the bar. Just download the game and play it with people around you. It makes your day!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form role="form" action="register.php" method="post" enctype="plain">
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-second subscribe-submit' type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-1">Contact Us</h2>
        <p class="text-muted text-center mb-4">Tell us how we can improve ourself or tell about a drinking game you know</h2>
        <form class="contact-form" role="form">

          <div class="form-group">
            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>

          <div class="loading"></div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>

          <div class="form-send">
            <button type="submit" class="btn btn-large btn-second">Send Message</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights <strong>BaturayKaraduman</strong>. All Rights Reserved
    </p>
    <div class="credits">
      Created with Ruby on Rails & React & React Native
    </div>
  </div>
</div>
